<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <script>
      function myFunction1() {
        var x = document.getElementById("oldPassword");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      function myFunction2() {
        var x = document.getElementById("newPassword");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
  </head>
  <body class="bg-gray-200">
    <nav class="bg-gray-800">
      <div
        class="container mx-auto px-4 py-2 flex justify-between items-center fixed bg-gray-800"
      >
        <div class="text-white text-lg font-semibold">
          <a href="/home"><%= title %></a>
          <span class="text-gray-300 mr-4 px-2 py-1 rounded hover">
            <a href="/home">Home</a>
          </span>
          <span class="text-gray-300 mr-4 px-2 py-1 rounded hover">
            <a href="/user/changePassword">Change Password</a>
          </span>
        </div>

        <div>
          <span class="text-gray-300 mr-4">Welcome <%= userName %></span>
          <a
            href="/signout"
            class="inline-block px-4 py-2 text-white bg-red-600 rounded-md font-medium"
            >Sign Out</a
          >
        </div>
      </div>
    </nav>
    <br />
    <br />
    <div class="container mx-auto py-8">
      <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2 bg-white rounded-lg shadow-md p-8">
          <h1 class="py-4 text-3xl font-semibold text-slate-600 mt-3">
            Change Password
          </h1>
          <form action="/user/changePassword" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="py-3">
              <label for="oldPassword">Old Password</label>
              <input
                type="password"
                id="oldPassword"
                name="oldPassword"
                class="border border-gray-300 text-gray-900 rounded p-2 w-full"
              />
              <input
                class="p-5 my-3"
                type="checkbox"
                onclick="myFunction1()"
              />Show Password
            </div>
            <div class="py-3">
              <label for="newPassword">New Password</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                class="border border-gray-300 text-gray-900 rounded p-2 w-full"
              />
              <input
                class="p-2 my-3"
                type="checkbox"
                onclick="myFunction2()"
              />Show Password
            </div>
            <div class="py-3">
              <button
                type="submit"
                class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2"
              >
                Change Password
              </button>
            </div>
          </form>
          <% if(messages && messages.error && messages.error.length> 0) { %> <%
          for(var i=0; i < messages.error.length; i++) { %>
          <li>
            <%= messages.error[i] %>
            <br />
          </li>
          <% } %> <% } else if (messages && messages.success &&
          messages.success.length > 0) { %> <% for (var i = 0; i <
          messages.success.length; i++) { %>
          <li class="text-green-500"><%= messages.success[i] %></li>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
