<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Previous Sessions</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-2 col-span-4">
        <div>
          <h1><%= sportsname %></h1>
        </div>
          <h1 class="text-2xl font-semibold mb-4">Previous Sessions</h1>
          <table class="border border-gray-300 rounded">
            sportsId : <%= sportsId %>
            <br />
            <%= previousSessions.length %> Sessions Avaiable <% for(var i=0 ; i <
            previousSessions.length ; i++){ %>
            <tr>
              <td>
                <div class="p-4">
                  <a
                    href="/sessions/<%= previousSessions[i].id %>"
                    class="text-blue-600 hover:underline"
                  >
                    <%= previousSessions[i].sessionDate.toString().substring(0,21)
                    %>
                  </a>
                </div>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
