<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="bg-gray-200">
    <%- include('navigationBar') %>
    <br /><br /><br />
    <div class="container mx-auto py-8">
      <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4 bg-white rounded-lg shadow-md p-8">
          <div class="flex justify-center">
            <div class="w-full md:w-2/3 lg:w-1/2">
              <div>
                <h3 class="text-2xl font-semibold mb-4 text-center">Reports</h3>
              </div>
              <div class="p-4">
                <form action="/reports" method="post" class="w-full max-w-sm">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <div class="mb-4 text-center">
                    <div class="p-2">
                      <label for="startDate" class="block mb-2">From</label>
                      <input
                        type="date"
                        name="startDate"
                        id="startDate"
                        class="border rounded p-2 w-full"
                      />
                    </div>
                    <div class="p-2">
                      <label for="toDate" class="block mb-2">To</label>
                      <input
                        type="date"
                        name="toDate"
                        id="toDate"
                        class="border rounded p-2 w-full"
                      />
                    </div>
                  </div>
                  <div class="flex justify-center">
                    <button
                      type="submit"
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    >
                      Submit
                    </button>
                  </div>
                </form>
                <% if(messages && messages.error && messages.error.length> 0) {
                %> <% for(var i=0; i < messages.error.length; i++) { %>
                <li>
                  <%= messages.error[i] %>
                  <br />
                </li>
                <% } %> <% } %>
              </div>
              <br />
              <h5 class="text-xl font-bold text-gray-600 pb-5 text-center">
                Ranking of Sports According to Number of Sessions
              </h5>
              <div class="p-4">
                <table
                  class="table-auto w-full border border-gray-300 p-2 rounded"
                >
                  <thead>
                    <tr>
                      <th
                        class="p-3 text-center font-bold border border-gray-300 rounded-md"
                      >
                        Rank
                      </th>
                      <th
                        class="p-3 text-center font-bold border border-gray-300 rounded-md"
                      >
                        Sport
                      </th>
                      <th
                        class="p-3 text-center font-bold border border-gray-300 rounded-md"
                      >
                        No of Sessions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i < list.length; i++) { %>
                    <tr>
                      <td class="text-center border border-gray-300">
                        <%= i+1 %>
                      </td>
                      <td class="text-center border font-bold border-gray-300 rounded-md">
                        <a
                          href="/sports/<%= list[i][1].sportsId %>/reportDetails/<%= startDate %>/<%= toDate %>"
                        >
                          <%= list[i][1].sportsname %>
                        </a>
                      </td>
                      <td class="text-center border border-gray-300">
                        <%= list[i][1].sessions %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <p class="text-slate-600 p-3 text-center">
                  *Click on the Sports Title to get the details*
                </p>
                <div class="justify-center border rounded-md" >
                  <canvas class="justify-center" id="myChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      const sportTitlesx = <%- JSON.stringify(list.map(item => item[1].sportsname)) %>;
      const sessionCountsy = <%- JSON.stringify(list.map(item => item[1].sessions)) %>;

      new Chart("myChart", {
        type: "pie",
        data: {
          labels: sportTitlesx,
          datasets: [
            {
              label: "No of Sessions created",
              data: sessionCountsy,
            },
          ],
        },
        options: {},
      });
    </script>
  </body>
</html>
