<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session Details</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");

      function joinSession() {
        fetch(`/sessions/<%= sessionId %>/join`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      function leaveSession() {
        fetch(`/sessions/<%= sessionId %>/leave`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      function deleteSessionMember(id) {
        fetch(`/sessions/<%= sessionId %>/deleteSessionMember`, {
          method: "delete", // or 'PUT'
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
            memberId: id,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      function deleteSessionPlayer(userId) {
        fetch(`/sessions/<%= sessionId %>/deleteSessionPlayer`, {
          method: "delete", // or 'PUT'
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
            userId: userId,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      function displayReasonField() {
        document.getElementById("reasonField").style.display = "block";
      }
    </script>
  </head>

  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h2 class="text-3xl font-semibold text-gray-600">
          <%= sportsname %> Session #<%= sessionId %> <%= creator.firstName %>
          <%= userName %>
        </h2>
        <% if((sessionDetails.creatorId==userId) &&
        (sessionDetails.isCancelled===false)) { %>
        <div>
          <br />
          <a
            class="bg-blue-500 hover:bg-light-600 text-white font-bold py-2 px-4 rounded"
            href="/sessions/<%= sessionId %>/editsession"
            >Edit Session</a
          >
          <a
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
            href="/sessions/<%= sessionId %>/cancel"
            >Cancel Session</a
          >
          <br />
        </div>
        <% } %>
        <br />
        <h4>
          This session is scheduled for <%=
          sessionDetails.sessionDate.toLocaleString('en-US', { day: '2-digit' ,
          month: '2-digit' , year: 'numeric' , hour: '2-digit' , minute:
          '2-digit' , hour12: true }) %>, to be played at "<%=
          sessionDetails.sessionVenue %>"
        </h4>
        <h3>Players</h3>
        <% if(sessionDetails.sessionPlayers.length> 0){ %>
        <ul class="mt-2">
          <% for(var i=0; i < sessionDetails.sessionPlayers.length; i++) {%>
          <li class="border border-gray-300 rounded-md p-2 mb-2">
            <div><%= sessionDetails.sessionPlayers[i] %></div>
            <% if(isCreator) { %>
            <a
              href="#"
              class="trash-icon ml-2"
              onclick="deleteSessionMember(<%= i %>)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
            </a>
            <% } %>
          </li>
          <% } %>
        </ul>
        <% } %> <% if(sessionPlayer.length> 0) { %>
        <ul class="list-none mt-4">
          <% for(var i=0; i < sessionPlayer.length; i++) { %>
          <li class="users border border-gray-300 rounded-md p-2 mb-2">
            <div>
              <% if(sessionPlayer[i].userId==userId) { %>
              <h3 class="font-bold">You</h3>
              <% } else { %> <%
              if(sessionDetails.creatorId==sessionPlayer[i].userId) { %>
              <h3><%= sessionPlayer[i].userName %></h3>
              <h3 class="text-gray-500">Organizer</h3>
              <% }else{ %>
              <h3><%= sessionPlayer[i].userName %></h3>
              <% } %> <% } %> <% if(isCreator) { %>
              <a
                href="#"
                class="trash-icon ml-2"
                onclick="deleteSessionPlayer(<%= sessionPlayer[i].userId %>)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </a>
              <% } %>
            </div>
          </li>
          <% } %>
        </ul>
        <% } else { %>
        <p class="mt-4">No Players have joined this session.</p>
        <% } %> <% if ((isParticipant === false && isFull === false &&
        isPrevious === false && sessionDetails.isCancelled === false) || (isFull
        === false && isPrevious === false)) { %> <% if (allowUser === true) { %>
        <button
          class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          type="submit"
          onclick="joinSession()"
        >
          Join Session
        </button>
        <% } else if (allowUser === false) { %>
        <p class="mt-4">You are not allowed to join in this Session as you have a Sport session scheduled at the same date and time</p>
        <tr>
          <td>
              <div class="p-4">
                  <a href="/sessions/<%= userJoined.id %>" class="text-blue-600 hover:underline">
                      <%= userJoined.sessionDate.toString().substring(0,21) %>
                  </a>
              </div>
          </td>
      </tr>
        <% } %> <% } %> <% if(isParticipant) { %>
        <p class="mt-4">You are already a Participant in this Session</p>
        <button
          class="mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
          type="submit"
          onclick="leaveSession()"
        >
          Leave Session
        </button>
        <% } else if(isFull) { %>
        <p class="mt-4">This session is Full</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
